<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">

<div class="bg-dark ">
<div class="container ">
    <div class="d-flex justify-content-around pt-5 align-items-center fs-20 ">
<a class="text-white" href="index.html">WILLIAM LEE  </a>
<a class="text-white" href="index.html">BASED IN TAIWAN</a>
<a class="text-white" href="index.html">CURRENTLY FRONT END <br> ENGINEER AT HEXSCHOOL</a>
<a class="text-white" href="index.html">CONTACT ME</a>

</div>

</div>
</div>
</div>

