<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-dark">
      <div class="container py-72">
        <div class="row d-flex align-items-center ">
          <div class="col-6">
           <img class="img" src="../assets/images/people.png" alt="">
          </div>
          <div class="col-6">
            <div class="pt-5">
              <h2 class="fs-64 text-titl">HI</h2>
              <h2 class="fs-64 text-titl">I’m a front-end <br>developer</h2>
              <h1 class="fs-128 text-titl">William</h1>

              <div class="d-flex justify-content-end">
               <a class="" href="#"><button type="button" class="rounded-pill btn btn-light text-black">contact me
                <img src="..\assets\images\arrow_outward.png" alt="arrow">
              </button>
               </a>
              </div>

              </div>
          </div>
        </div>
      </div>
    </div>
     <div class="bg-img">
      <div class="container py-72">
        <div class="row d-flex align-items-start">
          <div class="col-5 ">
            <h2 class="fs-64">Introduction</h2>
            <div>
              <p class="fs-24">Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive websites that provide an optimal user experience.</p>
            </div>
            <div class=" ">
              <img class="bg-sm" src="../assets/images/sparkle-sm.png" alt="">
              <img class="bg-sm" src="../assets/images/sparkle-sm.png" alt="">
              <img class="bg-sm" src="../assets/images/sparkle-sm.png" alt=""></div>
          </div>

          <div class="col-2"><img class="img bg-sl" src="../assets/images/sparkle.png" alt=""></div>

          <div class="col-2"><img class="img bg-sl" src="../assets/images/photographer.png" alt=""></div>

          <div class="col-3 "><img class="img bg-sl" src="../assets/images/people-2.png" alt=""></div>
        </div>
      </div>
     </div>
     <div class="container py-72  bg-light">
      <div class="row d-flex align-items-center">
        <!-- car -->
        <div class="col-6 row row-cols-2 g-2 gx-5 d-flex justify-content-evenly">

          <div class="card " style="width: 280px;">
            <div class="card-body">
              <h5 class="fs-20-card-title">01</h5>
              <h6 class="card-subtitle mb-2 text-muted fs-20-card-title">Attention to Detail</h6>
              <p class="fs-16px">Meticulous code analysis and optimization.</p>

            </div>
          </div>

          <div class="card" style="width: 280px;">
            <div class="card-body">
              <h5 class="fs-20-card-title">02</h5>
              <h6 class="card-subtitle mb-2 text-muted fs-20-card-title">Adaptability</h6>
              <p class="fs-16px">Swift learning of new technologies.</p>

            </div>
          </div>

          <div class="card" style="width: 280px;">
            <div class="card-body">
              <h5 class="fs-20-card-title">03</h5>
              <h6 class="card-subtitle mb-2 text-muted fs-20-card-title">Problem Solver</h6>
              <p class="fs-16px">Identifying and resolving issues.</p>

            </div>
          </div>

          <div class="card" style="width: 280px;">
            <div class="card-body">
              <h5 class="fs-20-card-title">04</h5>
              <h6 class="card-subtitle mb-2 text-muted fs-20-card-title">Team Player</h6>
              <p class="fs-16px">Collaborates and shares ideas.</p>

            </div>
          </div>


        </div>

      <!-- car -->
        <div class="col-1"></div>
        <div class="col-5">
          <h2 class="fs-64 text-dark">About Me</h2>
          <p class="fs-24 text-dark">With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have a strong understanding of user experience design and accessibility. I'm always learning new technologies and techniques to stay up-to-date in the field.</p>
        </div>
      </div>
     </div>
<div class=" bg-lg">
  <div class="container ">
  <div class="row">
    <div class="col-6 d-flex align-items-center ">
      <h2 class="fs-64 py-129">CONTACT ME</h2>
      <img class="vector align-middle" src="../assets/images/trending_flat_black_24dp 1.png" alt="">
    </div>
    <div class="col-1"></div>
    <div class="col-5 img3-set ">
      <a class="m-2 img3" href="#"><img class="dc-ig" src="../assets/images/discord.png" alt=""></a>

      <a class="m-2 img3"  href="#"><img class="dc-ig" src="../assets/images/instagram.png" alt=""></a>

      <a class="m-2 img3" href="#"><img class="dc-ig" src="../assets/images/message.png" alt=""></a>
    </div>
    </div>
  </div>
</div>

<div class="container mt-160">
  <div class="row ">
    <div class="col-5"></div>
    <div class="col-5">
      <h2 class="fs-64 text-dark">My Projects</h2>
    </div>
    <div class="col-2"></div>
  </div>
</div>

  <div class="container margin-bottom">
  <div class="row projects-wrapper">
    <div class="col-4">
      <img class="img-max" src="../assets/images/Rectangle 10.png" alt="">
    </div>

    <div class="col-8 Project-right">
      <div class="row mb-28">
            <div class="col-3"><img class="img-max" src="../assets/images/Rectangle 15.png" alt=""></div>
            <div class="col-9 fs-16px flex-column-between">
              <p class="mb-76">I've worked on a variety of websites, including e-commerce sites, blogs, and landing pages. I take pride in creating clean, efficient, and user-friendly code. </p>

              <button type="button" class="btn btn-dark rounded-pill">SEE MORE  <img src="../assets/images/arrow_outward-white.png" alt="arror">  </button>
            </div>
          </div>

      <div class=" d-flex flex-row justify-content-between ">
            <div class=""><img class="" src="../assets/images/Rectangle 14.png" alt=""></div>

            <div class=""><img class="" src="../assets/images/Rectangle 29.png" alt=""></div>
          </div>
    
        </div>
      </div>
    </div>
  </div>
</div>






    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
